<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>标签云 - 美女网</title>
	<meta name="applicable-device" content="pc">
	<meta name="viewport" content="width=device-width, initial-scale=0.2">
	<meta name="referrer" content="origin">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="美女网标签云,美女、美女图片、性感美女、国内美女">
	<meta name="description" content="美女网（www.perichina.cn）旨在分享美女图片、性感美女、性感车模、国内美女、日本美女、欧美美女等高清精美图片，我们以专注分享高质量性感图片为宗旨，立志成为国内最强大的高清性感美女图片网站，为广大摄影爱好者提供服务。">
	<link rel="shortcut icon" href="https://www.perichina.cn/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__PUBLIC__/index/style/style.css">
	<script src="https://libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/index/js/public.js"></script>
</head>
<body>
	<div class="header h-pub">
		{include file="common/header" /}
	</div>

	<div class="position">
		<div class="w1200">
			<span><i></i>当前位置 ：</span> <a href="https://www.perichina.cn/" title="美女网">主页</a> &gt; 标签云
		</div>
	</div>

	<div class="list">
		<div class="w1200 tag">
			<div class="l-title">
				<h1>美女网-标签云</h1>
				{volist name="tags" id="vo"}

				{if condition="$pretag eq $vo.cataname"}
					<a href="{:url('tags/index',array('tagid'=>$vo.id))}" title="{$vo.tagname}" target="_blank">{$vo.tagname}</a>
				{else /}
					{if condition = "$pretag neq ' '"}
								</div>
							</div>
						</div>
					{/if}
					<div class="label mb40">
						<div class="w1200">
							<div class="t-title">
								<h2>{$pretag = $vo.cataname}</h2>
								<i class="ico-bar cor{:rand(1,9)} ibar1"></i>
							</div>
					<div class="bq cl">
						<a href="{:url('tags/index',array('tagid'=>$vo.id))}" title="{$vo.tagname}" target="_blank">{$vo.tagname}</a>
				{/if} 

				{/volist}
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="footer">
		{include file="common/foot" /}
	</div>


</body></html>