<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{if condition="count($peri) gt 0"}{$peri[0]['tagname']}{/if} - 美女网</title>
	<meta name="applicable-device" content="pc">
	<meta name="viewport" content="width=device-width, initial-scale=0.2">
	<meta name="referrer" content="origin">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="{if condition="count($peri) gt 0"}{$peri[0]['tagname']}{/if}、美女、美女网">
	<meta name="description" content="美女（www.perichina.cn）旨在分享美女图片、高清图片、性感图片、国产美女等高清精美图片大全，我们以专注分享高质量图片为宗旨，立志成为国内最强大的高清图片网站，为广大摄影爱好者提供服务。">
	<link rel="shortcut icon" href="https://www.perichina.cn/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__PUBLIC__/index/style/style.css">
	<script src="https://libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/index/js/public.js"></script>
</head>
<body>
	<div class="header h-pub">
		{include file="common/header" /}
	</div>

	<div class="position">
		<div class="w1200">
			<span><i></i>当前位置 ：</span> <a href="https://www.perichina.cn/" title="美女网">主页</a> &gt; {if condition="count($peri) gt 0"}{$peri[0]['tagname']}{/if}
		</div>
	</div>

	<div class="list">
		<div class="w1200">
			<div class="l-title">
				<h1>{if condition="count($peri) gt 0"}{$peri[0]['tagname']}{/if}</h1>

			</div>
			<!--图片列表-->
			<div class="l-pub">
				<div class="m-list ml1">
					<ul class="cl">
						{volist name="peri" id="vo"}
						<li><a href="{:url('article/index',array('imgid'=>$vo.id))}" title="{$vo.title}" target="_blank">
							<img style="width: 224px; height: 322px; display: inline;" src="{:str_replace('https://img.tp8.com','http://img.perichina.cn',$vo.cover)}" data-original="__PUBLIC__/index/images/lst.jpg" alt="丰满少妇王雨纯制服丝袜西西人体艺术图片">
							<div class="list-tit list-tit-short"><p>{$vo.title}</p></div>
							<span class="time">{$vo.time}</span>
						</a></li>
						{/volist}
					</ul>
				</div>
			</div>
			{$peri->render()}
		</div>
		<div class="clear"></div>
	</div>

	<div class="label mb30">
		<div class="w1200">
			<h2><i></i>美女图片相关标签</h2>
			<div class="bq cl">
				{volist name="tags" id="vo"}
				<a href="{:url('tags/index',array('tagid'=>$vo.id))}" title="{$vo.tagname}" target="_blank">{$vo.tagname}</a>
				{/volist}
				<a href="{:url('cloud/index')}" title="标签云" target="_blank">更多&nbsp;...</a>
			</div>
		</div>
	</div>

	<div class="channel c-pub mb30">
		<div class="w1200">
			<h2>美女图片推荐</h2>
			<div class="m-list ml1">
				<ul class="cl">
					{volist name="referrer" id="vo"}
					<li><a href="{:url('article/index',array('imgid'=>$vo.id))}" title="{$vo.title}" target="_blank">
						<img style="width:224px;height:322px;" src="{:str_replace('https://img.tp8.com','http://img.perichina.cn',$vo.cover)}" data-original="__PUBLIC__/index/images/lst.jpg" alt="{$vo.title}">
						<div class="list-tit"><p>{$vo.title}</p></div>
					</a></li>
					{/volist}
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
			{include file="common/foot" /}
	</div>


</body></html>