<div class="header">
        <div class="w1200">
            <div class="logo fl">
                <a href="https://www.perichina.cn/" title="">美女网</a></div>
            <div class="nav fl">
                <ul class="cl">
                    <li>
                        <a href="{:url('index/index')}" title="美女">首页</a></li>
                    <li>
                        <a href="{:url('lst/index',array('cataid'=>7))}" title="美女模特">美女模特</a></li>
                    <li>
                        <a href="{:url('lst/index',array('cataid'=>8))}" title="特征美女">特征美女</a></li>
                    <li>
                        <a href="{:url('lst/index',array('cataid'=>9))}" title="人体艺术">人体艺术</a></li>
                    <li>
                        <a href="{:url('lst/index',array('cataid'=>10))}" title="服饰美女">服饰美女</a></li>
                    <li>
                        <a href="{:url('lst/index',array('cataid'=>11))}" title="地方美女">地方美女</a></li>
                    <li class="last-slide">
                        <a href="https://www.perichina.cn/#">更多&nbsp;···</a>
                        <div class="last-nav-down hide">
                            <a href="{:url('lst/index',array('cataid'=>12))}" title="美女职业">美女职业</a>
                            <a href="{:url('lst/index',array('cataid'=>13))}" title="美女年龄" style="background-color: rgb(247, 247, 247);">美女年龄</a>
                            <a href="{:url('lst/index',array('cataid'=>14))}" title="明星图片">明星图片</a>
                            <a href="{:url('lst/index',array('cataid'=>15))}" title="纹身图片" style="background-color: rgb(247, 247, 247);">纹身图片</a>
                            <a href="#" title="热门关键词">热门关键词</a></div>
                    </li>
                </ul>
            </div>
            <div class="info fr">
                <div class="search fl">
                    <div class="search-show">
                        <div class="search-box">
                            <form method="get" target="_blank" action="https://www.perichina.cn/search.html" class="new-searching-unit" data-regestered="regestered">
                                <input type="text" size="27" name="q" autocomplete="off" placeholder="" value="">
                                <a href="https://www.perichina.cn/#" title="" class="go">
                                    <input style="width:30px;height:30px;" type="submit" value=""></a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="yun fr">
                    <a href="{:url('cloud/index')}" title="美女标签云">标签云</a></div>
            </div>
        </div>
    </div>